/* colors
light: #FEFEFE;
lightgray: #DAD7DE;
darkergray: #A29BAD;
burnt orange: #D04D00;
light orange: #FEB58B;
darkblue: #252E39; */


html {
  background-color: #DAD7DE;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  cursor: url(cursor.png), auto;
}

canvas {
  box-sizing: border-box;
  display: block;
  height: 100vh;
  background: #DAD7DE;
}

.start-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  background-color: #252E39;
  padding: 20px 30px;
  border-radius: 5px; 
  outline: none;
  z-index: 50;
}

.game-title {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #FEFEFE;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
}

@media (max-width: 940px) {
  .game-title {
    font-size: 48px;
    top: 35%;
  }
}